@use "mixins" as *;

.about {
  width: 86%;
  max-width: 1240px;
  margin: 38px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include small-screen {
    width: 335px;
    margin: 20px auto;
    gap: 20px;
  }
}
