@use "mixins" as *;

.card-list {
  width: 86%;
  max-width: 1240px;
  padding: 50px;
  margin: 50px auto;
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 60px;

  @include small-screen {
    width: 335px;
    padding: 0px;
    margin: 0px auto 27px auto;
    display: block;
  }
}
